.border-bottom-radius {
	-x-border-bottom-radius: 10px;
}

.border-left-radius {
	-x-border-left-radius: 10px;
}

.border-right-radius {
	-x-border-right-radius: 10px;
}

.border-top-radius {
	-x-border-top-radius: 10px;
}

.border-top-radius-2-defined {
	-x-border-top-radius: 10px 5px;
}
